Lendo arquivo CSV

In [ ]:
%pip install pandas
%pip install numpy

In [4]:
import pandas as pd

In [5]:
pd

In [6]:
df_csv = pd.read_csv("./analise_imoveis_sao_paulo.csv", sep=";", header=0)

In [7]:
df_csv

,Unnamed: 0,Rua,Bairro,Cidade,area_m2,quartos,banheiros,vagas,price
0,0,"Avenida Itacira, 255",Planalto Paulista,São Paulo,1000,4,8,6,R$ 7.000.000
1,1,"Rua Aurelia Perez Alvarez, 42",Jardim dos Estados,São Paulo,469-524,3-6,3-6,4,R$ 3.700.000
2,2,Rua Alba Valdez,Jardim Reimberg,São Paulo,125,4,3,2,R$ 380.000
3,3,"Jardim Morumbi, São Paulo",SP,NaN,310,3,2,4,R$ 685.000
4,4,"Rua Tobias Barreto, 195",Mooca,São Paulo,100,3,2,2,R$ 540.000
...,...,...,...,...,...,...,...,...,...
10028,10028,Rua Tapuçu,Vila Sofia,São Paulo,90,2,2,2,R$ 665.000
10029,10029,Rua Guararema,Bosque da Saúde,São Paulo,600,8,7,5,R$ 2.300.000
10030,10030,Rua Estero Belaco,Vila da Saúde,São Paulo,200,3,3,6,R$ 1.050.000
10031,10031,"Rua Manuel Onha, , 514",Vila Oratório,São Paulo,180,3,2,2,R$ 2.200\n /Mês
10032,10032,"Rua Barão de Tramandaí, 0",Vila Alpina,São Paulo,117,3,2,2,R$ 270.000

lendo arquivo em excel

In [13]:
%pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [8]:
df_xlsx = pd.read_excel("./analise_imoveis_sao_paulo.xlsx")

In [ ]:
df_xlsx

,Rua,Bairro,Cidade,area_m2,quartos,banheiros,vagas,price
0,"Avenida Itacira, 255",Planalto Paulista,São Paulo,1000,4,8,6,R$ 7.000.000
1,"Rua Aurelia Perez Alvarez, 42",Jardim dos Estados,São Paulo,469-524,3-6,3-6,4,R$ 3.700.000
2,Rua Alba Valdez,Jardim Reimberg,São Paulo,125,4,3,2,R$ 380.000
3,"Jardim Morumbi, São Paulo",SP,NaN,310,3,2,4,R$ 685.000
4,"Rua Tobias Barreto, 195",Mooca,São Paulo,100,3,2,2,R$ 540.000
...,...,...,...,...,...,...,...,...
10028,Rua Tapuçu,Vila Sofia,São Paulo,90,2,2,2,R$ 665.000
10029,Rua Guararema,Bosque da Saúde,São Paulo,600,8,7,5,R$ 2.300.000
10030,Rua Estero Belaco,Vila da Saúde,São Paulo,200,3,3,6,R$ 1.050.000
10031,"Rua Manuel Onha, , 514",Vila Oratório,São Paulo,180,3,2,2,R$ 2.200\n /Mês
10032,"Rua Barão de Tramandaí, 0",Vila Alpina,São Paulo,117,3,2,2,R$ 270.000

: