In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
df = pd.read_csv("./ifood-restaurants-february-2021.csv", sep=",",header=0)

In [3]:
df.head(5)

,availableForScheduling,avatar,category,delivery_fee,delivery_time,distance,ibge,minimumOrderValue,name,paymentCodes,price_range,rating,tags,url
0,False,https://static-images.ifood.com.br/image/uploa...,Marmita,3.99,27,1.22,5300108,10.0,Cantina Arte & Sabor,DNR $$ MPAY $$ MOVPAY_MC $$ MC $$ GPY_ELO $$ E...,CHEAPEST,0.0,ADDRESS_PREFORM_TYPE $$ CART::MCHT::100_DELIVE...,https://www.ifood.com.br/delivery/brasilia-df/...
1,False,https://static-images.ifood.com.br/image/uploa...,Açaí,7.99,61,4.96,5300108,10.0,Raruty Açaí Raiz,DNR $$ MPAY $$ MOVPAY_MC $$ MC $$ GPY_ELO $$ E...,CHEAPEST,0.0,ADDRESS_PREFORM_TYPE $$ GUIDED_HELP_TYPE $$ ME...,https://www.ifood.com.br/delivery/brasilia-df/...
2,False,https://static-images.ifood.com.br/image/uploa...,Bebidas,11.99,70,8.35,5300108,5.0,Toma na Kombi,DNR $$ MPAY $$ MOVPAY_MC $$ MC $$ GPY_ELO $$ R...,MODERATE,0.0,ADDRESS_PREFORM_TYPE $$ CPGN_USER_DISCOUNT_6_L...,https://www.ifood.com.br/delivery/brasilia-df/...
3,False,https://static-images.ifood.com.br/image/uploa...,Carnes,16.49,63,6.35,5300108,20.0,Churrasquinho do Barriga´s,DNR $$ MPAY $$ MOVPAY_MC $$ MC $$ GPY_ELO $$ E...,CHEAPEST,0.0,ADDRESS_PREFORM_TYPE $$ GUIDED_HELP_TYPE $$ NO...,https://www.ifood.com.br/delivery/brasilia-df/...
4,False,https://static-images.ifood.com.br/image/uploa...,Brasileira,11.99,58,5.22,5300108,20.0,Prime Restaurante,DNR $$ MPAY $$ MOVPAY_MC $$ MC $$ GPY_ELO $$ E...,CHEAPEST,0.0,ADDRESS_PREFORM_TYPE $$ GUIDED_HELP_TYPE $$ NOVO,https://www.ifood.com.br/delivery/brasilia-df/...

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 406399 entries, 0 to 406398
Data columns (total 14 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   availableForScheduling  406399 non-null  bool
 1   avatar                  406122 non-null  object
 2   category                406399 non-null  object
 3   delivery_fee            406399 non-null  float64
 4   delivery_time           406399 non-null  int64
 5   distance                406399 non-null  float64
 6   ibge                    406399 non-null  int64
 7   minimumOrderValue       406399 non-null  float64
 8   name                    406399 non-null  object
 9   paymentCodes            406397 non-null  object
 10  price_range             406399 non-null  object
 11  rating                  406399 non-null  float64
 12  tags                    406399 non-null  object
 13  url                     406399 non-null  object
dtypes: bool(1), float64(4), int64(2), object(7)
memory usage: 40.7+ MB

SELECIONANDO VARIAVEIS CONVENIENTES

In [5]:
df_sel = df[["availableForScheduling", "category", "delivery_fee", "delivery_time", "price_range","minimumOrderValue"]]

In [6]:
#classificar tipos de variáveis
numericas = df_sel.select_dtypes(include=['number']).columns.to_list()
categoricas =df_sel.select_dtypes(include=['object', 'category', 'bool']).columns.tolist()

print("Variáveis Numéricas", numericas)
print("Variáveis Categóricas", categoricas)

Variáveis Numéricas ['delivery_fee', 'delivery_time', 'minimumOrderValue']
Variáveis Categóricas ['availableForScheduling', 'category', 'price_range']

USANDO FUNÇÃO describe()

In [7]:
df_sel.describe()

        delivery_fee  delivery_time  minimumOrderValue
count  406399.000000  406399.000000       4.063990e+05
mean        6.804577      47.432747       2.768909e+02
std         4.315815      19.662736       1.570668e+05
min         0.000000      -1.000000       0.000000e+00
25%         4.000000      35.000000       1.000000e+01
50%         6.000000      45.000000       1.500000e+01
75%         9.490000      60.000000       2.000000e+01
max        35.000000    5050.000000       1.000000e+08

USANDO FUNÇÃO mode() (moda)

In [8]:
df_sel["category"].mode()

0    Lanches
Name: category, dtype: object

In [9]:
type(df_sel["category"].mode())

pandas.core.series.Series

In [10]:
df_sel['category'].mode()[0]

'Lanches'

In [11]:
#variáveis booleans
df_sel["availableForScheduling"].mode()

0    False
Name: availableForScheduling, dtype: bool

In [12]:
#variaveis numericas
df_sel['delivery_fee'].mode()

0    0.0
Name: delivery_fee, dtype: float64

Avaliando a moda das variáveis

In [13]:
for variavel in categoricas:
    contagens = df_sel[variavel].value_counts()

    if len(contagens) >=5:
        print("<><><><><><><><><><><><><>")
        print(f"Variável {variavel}")
        print(f"Moda: {df_sel[variavel].mode()[0]}\n")
        print(f"{contagens.iloc[0:5]}\n")
    else:
        print("<><><><><><><><><><><><><>")
        print(f"Variável {variavel}")
        print(f"Moda: {df_sel[variavel].mode()[0]}\n")
        print(f"{contagens.iloc[0:5]}\n")

<><><><><><><><><><><><><>
Variável availableForScheduling
Moda: False

availableForScheduling
False    404702
True       1697
Name: count, dtype: int64

<><><><><><><><><><><><><>
Variável category
Moda: Lanches

category
Lanches          98946
Brasileira       73348
Doces & Bolos    39828
Pizza            36819
Açaí             22110
Name: count, dtype: int64

<><><><><><><><><><><><><>
Variável price_range
Moda: CHEAPEST

price_range
CHEAPEST          294140
MODERATE           44769
CHEAP              43100
EXPENSIVE          15778
MOST_EXPENSIVE      8612
Name: count, dtype: int64

USANDO A FUNÇÃO mean() (média)

In [14]:
numericas

['delivery_fee', 'delivery_time', 'minimumOrderValue']

In [15]:
df_sel['delivery_fee'].mean()

np.float64(6.804577004372552)

In [16]:
df_sel[numericas].mean()

delivery_fee           6.804577
delivery_time         47.432747
minimumOrderValue    276.890929
dtype: float64

In [17]:
float(df_sel['delivery_fee'].mean())

6.804577004372552

In [18]:
for variavel in numericas:
    print(f"Média Variável{variavel}: {float(df_sel[variavel].mean())}")

Média Variáveldelivery_fee: 6.804577004372552
Média Variáveldelivery_time: 47.43274712782266
Média VariávelminimumOrderValue: 276.89092923456997

USANDO A FUNÇÃO median() (mediana)

In [19]:
df_sel['delivery_fee'].median()

np.float64(6.0)

In [20]:
float(df_sel['delivery_fee'].median())

6.0

In [21]:
df_sel[numericas].median()

delivery_fee          6.0
delivery_time        45.0
minimumOrderValue    15.0
dtype: float64

In [22]:
for variavel in numericas:
    print(f"Média Variavel{variavel}: {float(df_sel[variavel].mean())}")
    print(f"Mediana Variavel{variavel}: {float(df_sel[variavel].median())}\n")

Média Variaveldelivery_fee: 6.804577004372552
Mediana Variaveldelivery_fee: 6.0

Média Variaveldelivery_time: 47.43274712782266
Mediana Variaveldelivery_time: 45.0

Média VariavelminimumOrderValue: 276.89092923456997
Mediana VariavelminimumOrderValue: 15.0

In [23]:
df_sel['minimumOrderValue'].max()

np.float64(99999999.99)

*DAQUI PARA BAIXO AINDA NÃO ESTÁ NO README.MD*

CALCULANDO AMPLITUDE

In [24]:
numericas = df.select_dtypes(include=['number']).columns.tolist()

In [25]:
numericas

['delivery_fee',
 'delivery_time',
 'distance',
 'ibge',
 'minimumOrderValue',
 'rating']

In [26]:
#removendo o ibge da lista de numericas
numericas.pop(3)

'ibge'

In [27]:
df[numericas].describe()

,delivery_fee,delivery_time,distance,minimumOrderValue,rating
count,406399.000000,406399.000000,406399.000000,4.063990e+05,406399.000000
mean,6.804577,47.432747,4.219752,2.768909e+02,2.522241
std,4.315815,19.662736,68.329379,1.570668e+05,2.286103
min,0.000000,-1.000000,0.000000,0.000000e+00,0.000000
25%,4.000000,35.000000,1.750000,1.000000e+01,0.000000
50%,6.000000,45.000000,3.080000,1.500000e+01,3.958900
75%,9.490000,60.000000,4.830000,2.000000e+01,4.718750
max,35.000000,5050.000000,11810.190000,1.000000e+08,5.000000

In [28]:
for variavel in numericas:
    amplitude = df[variavel].max() - df[variavel].min()
    print(f"A amplitude da {variavel} é: {amplitude}")

A amplitude da delivery_fee é: 35.0
A amplitude da delivery_time é: 5051
A amplitude da distance é: 11810.19
A amplitude da minimumOrderValue é: 99999999.99
A amplitude da rating é: 5.0

CALCULANDO A VARIÂNCIA E O DESVIO PADRÃO

In [29]:
df.head(5)

,availableForScheduling,avatar,category,delivery_fee,delivery_time,distance,ibge,minimumOrderValue,name,paymentCodes,price_range,rating,tags,url
0,False,https://static-images.ifood.com.br/image/uploa...,Marmita,3.99,27,1.22,5300108,10.0,Cantina Arte & Sabor,DNR $$ MPAY $$ MOVPAY_MC $$ MC $$ GPY_ELO $$ E...,CHEAPEST,0.0,ADDRESS_PREFORM_TYPE $$ CART::MCHT::100_DELIVE...,https://www.ifood.com.br/delivery/brasilia-df/...
1,False,https://static-images.ifood.com.br/image/uploa...,Açaí,7.99,61,4.96,5300108,10.0,Raruty Açaí Raiz,DNR $$ MPAY $$ MOVPAY_MC $$ MC $$ GPY_ELO $$ E...,CHEAPEST,0.0,ADDRESS_PREFORM_TYPE $$ GUIDED_HELP_TYPE $$ ME...,https://www.ifood.com.br/delivery/brasilia-df/...
2,False,https://static-images.ifood.com.br/image/uploa...,Bebidas,11.99,70,8.35,5300108,5.0,Toma na Kombi,DNR $$ MPAY $$ MOVPAY_MC $$ MC $$ GPY_ELO $$ R...,MODERATE,0.0,ADDRESS_PREFORM_TYPE $$ CPGN_USER_DISCOUNT_6_L...,https://www.ifood.com.br/delivery/brasilia-df/...
3,False,https://static-images.ifood.com.br/image/uploa...,Carnes,16.49,63,6.35,5300108,20.0,Churrasquinho do Barriga´s,DNR $$ MPAY $$ MOVPAY_MC $$ MC $$ GPY_ELO $$ E...,CHEAPEST,0.0,ADDRESS_PREFORM_TYPE $$ GUIDED_HELP_TYPE $$ NO...,https://www.ifood.com.br/delivery/brasilia-df/...
4,False,https://static-images.ifood.com.br/image/uploa...,Brasileira,11.99,58,5.22,5300108,20.0,Prime Restaurante,DNR $$ MPAY $$ MOVPAY_MC $$ MC $$ GPY_ELO $$ E...,CHEAPEST,0.0,ADDRESS_PREFORM_TYPE $$ GUIDED_HELP_TYPE $$ NOVO,https://www.ifood.com.br/delivery/brasilia-df/...

In [ ]:
#.var() é a variancia  
df[numericas].var()

delivery_fee         1.862626e+01
delivery_time        3.866232e+02
distance             4.668904e+03
minimumOrderValue    2.466997e+10
rating               5.226266e+00
dtype: float64

In [ ]:
#.std() é o desvio padrao  
df[numericas].std()

delivery_fee              4.315815
delivery_time            19.662736
distance                 68.329379
minimumOrderValue    157066.758573
rating                    2.286103
dtype: float64

In [34]:
#calculando a variância e o desvio padrao para cada coluna 
variancia = df[numericas].var()
desvio_padrao = df[numericas].std()
print("Variância: ")
print(variancia)
print("\nDesvio Padrão")
print(desvio_padrao)

Variância:
delivery_fee         1.862626e+01
delivery_time        3.866232e+02
distance             4.668904e+03
minimumOrderValue    2.466997e+10
rating               5.226266e+00
dtype: float64

Desvio Padrão
delivery_fee              4.315815
delivery_time            19.662736
distance                 68.329379
minimumOrderValue    157066.758573
rating                    2.286103
dtype: float64

In [35]:
df[numericas].describe()

,delivery_fee,delivery_time,distance,minimumOrderValue,rating
count,406399.000000,406399.000000,406399.000000,4.063990e+05,406399.000000
mean,6.804577,47.432747,4.219752,2.768909e+02,2.522241
std,4.315815,19.662736,68.329379,1.570668e+05,2.286103
min,0.000000,-1.000000,0.000000,0.000000e+00,0.000000
25%,4.000000,35.000000,1.750000,1.000000e+01,0.000000
50%,6.000000,45.000000,3.080000,1.500000e+01,3.958900
75%,9.490000,60.000000,4.830000,2.000000e+01,4.718750
max,35.000000,5050.000000,11810.190000,1.000000e+08,5.000000