In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("./analise_imoveis_sao_paulo.csv", sep =";", header=0)

In [4]:
df

,Unnamed: 0,Rua,Bairro,Cidade,area_m2,quartos,banheiros,vagas,price
0,0,"Avenida Itacira, 255",Planalto Paulista,São Paulo,1000,4,8,6,R$ 7.000.000
1,1,"Rua Aurelia Perez Alvarez, 42",Jardim dos Estados,São Paulo,469-524,3-6,3-6,4,R$ 3.700.000
2,2,Rua Alba Valdez,Jardim Reimberg,São Paulo,125,4,3,2,R$ 380.000
3,3,"Jardim Morumbi, São Paulo",SP,NaN,310,3,2,4,R$ 685.000
4,4,"Rua Tobias Barreto, 195",Mooca,São Paulo,100,3,2,2,R$ 540.000
...,...,...,...,...,...,...,...,...,...
10028,10028,Rua Tapuçu,Vila Sofia,São Paulo,90,2,2,2,R$ 665.000
10029,10029,Rua Guararema,Bosque da Saúde,São Paulo,600,8,7,5,R$ 2.300.000
10030,10030,Rua Estero Belaco,Vila da Saúde,São Paulo,200,3,3,6,R$ 1.050.000
10031,10031,"Rua Manuel Onha, , 514",Vila Oratório,São Paulo,180,3,2,2,R$ 2.200\n /Mês
10032,10032,"Rua Barão de Tramandaí, 0",Vila Alpina,São Paulo,117,3,2,2,R$ 270.000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10033 entries, 0 to 10032
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  10033 non-null  int64
 1   Rua         10033 non-null  object
 2   Bairro      10033 non-null  object
 3   Cidade      6559 non-null   object
 4   area_m2     10033 non-null  object
 5   quartos     10033 non-null  object
 6   banheiros   10033 non-null  object
 7   vagas       10033 non-null  object
 8   price       10033 non-null  object
dtypes: int64(1), object(8)
memory usage: 705.6+ KB

In [6]:
# como saber as linhas que estão nan
# o codigo a baixo mostra linha 1 por 1 se a linha da coluna cidade, se está com NaN ou não
df["Cidade"].isna()

0        False
1        False
2        False
3         True
4        False
         ...
10028    False
10029    False
10030    False
10031    False
10032    False
Name: Cidade, Length: 10033, dtype: bool

In [7]:
# agora se eu quiser visualizar o df por completo para ver as linhas com NaN, basta incluir a solicitação do df 
# antes da declaração 
df[df["Cidade"].isna()]

,Unnamed: 0,Rua,Bairro,Cidade,area_m2,quartos,banheiros,vagas,price
3,3,"Jardim Morumbi, São Paulo",SP,NaN,310,3,2,4,R$ 685.000
11,11,"Jardim Luzitânia, São Paulo",SP,NaN,436,4,3,3,R$ 15.000
33,33,"Parque da Lapa, São Paulo",SP,NaN,220,4,4,3,R$ 849.000
49,49,"Rua Artur Montenegro, 9",A,NaN,250,2,2,2,R$ 370.000
58,58,"Chácara Santo Antônio (Zona Sul), São Paulo",SP,NaN,190,2,2,2,R$ 1.100.000
...,...,...,...,...,...,...,...,...,...
9988,9988,"Jardim Petrópolis, São Paulo",SP,NaN,418,5,7,6,R$ 2.800.000
10014,10014,"Parque Alves de Lima, São Paulo",SP,NaN,122,2,1,2,R$ 400.000
10016,10016,"Vila Formosa, São Paulo",SP,NaN,140,3,2,3,R$ 750.000
10020,10020,"Jardim Leonor, São Paulo",SP,NaN,1345,5,9,7,R$ 9.500.000
10024,10024,"Jardim Petrópolis, São Paulo",SP,NaN,418,5,7,6,R$ 2.800.000

In [8]:
#a coluna cidade está com espaço antes e depois do nome da cidade 
df["Cidade"].unique()

array([' São Paulo ', nan, ' Cotia ', ' Santana de Parnaíba ',
       ' Jacareí ', ' São José dos Campos ', ' Sorocaba ', ' Boituva ',
       ' Pindamonhangaba ', '55', '74', '10', '380'], dtype=object)

In [9]:
#vendo quantas linhas estão com NaN 
len(df[df["Cidade"].isna()])

3474

In [10]:
#sabendo a porcentagem que estão nulas na coluna cidade 
cidade_nula = len(df[df["Cidade"].isna()])/len(df) * 100
print(f"Percentual de Linhas Nulas na coluna Cidade: {cidade_nula:.2f}%")

Percentual de Linhas Nulas na coluna Cidade: 34.63%

In [11]:
# fazendo com outras colunas 
list (df.columns)

['Unnamed: 0',
 'Rua',
 'Bairro',
 'Cidade',
 'area_m2',
 'quartos',
 'banheiros',
 'vagas',
 'price']

In [12]:
#desconbrindo a % de todas as colunas com linhas nulas 
colunas = list(df.columns)

for coluna in colunas:
    print(f"Percentual de linhas Nulas | Variável {coluna}: {100 * len(df[df[coluna].isna()])/len(df):.2f}%")

Percentual de linhas Nulas | Variável Unnamed: 0: 0.00%
Percentual de linhas Nulas | Variável Rua: 0.00%
Percentual de linhas Nulas | Variável Bairro: 0.00%
Percentual de linhas Nulas | Variável Cidade: 34.63%
Percentual de linhas Nulas | Variável area_m2: 0.00%
Percentual de linhas Nulas | Variável quartos: 0.00%
Percentual de linhas Nulas | Variável banheiros: 0.00%
Percentual de linhas Nulas | Variável vagas: 0.00%
Percentual de linhas Nulas | Variável price: 0.00%

In [14]:
df.sample(n=100)

,Unnamed: 0,Rua,Bairro,Cidade,area_m2,quartos,banheiros,vagas,price
991,991,"Jardim Santa Maria, São Paulo",SP,NaN,120,2,1,2,R$ 390.000
2786,2786,"Parque Residencial Oratorio, São Paulo",SP,NaN,100,3,2,3,R$ 480.000
3596,3596,"Jardim Leonor, São Paulo",SP,NaN,442,3,8,4,R$ 2.600.000
6413,6413,Rua Benjamim Lima,Jabaquara,São Paulo,150,2,4,2,R$ 950.000
7756,7756,Rua Doutor Sebastião Lappetina Russo,Jardim Promissão,São Paulo,164,3,3,2,R$ 700.000
...,...,...,...,...,...,...,...,...,...
8800,8800,"Vila Anhangüera, São Paulo",SP,NaN,180,3,4,4,R$ 1.250.000
6153,6153,Rua Comendador Elias Zarzur,Santo Amaro,São Paulo,310,3,5,3,R$ 2.200.000
3739,3739,"Vila Tramontano, São Paulo",SP,NaN,840,6,10,7,R$ 8.900.000
7421,7421,Rua Fujie Nitta,Brooklin Paulista,São Paulo,147,3,3,2,R$ 970.000
9962,9962,Rua Padre Agostinho Poncet,Água Fria,São Paulo,60,2,2,2,R$ 395.000

In [ ]:
df_duplicated = df.groupby(df.columns.tolist(),as_index=False).size()

,Unnamed: 0,Rua,Bairro,Cidade,area_m2,quartos,banheiros,vagas,price,size
0,0,"Avenida Itacira, 255",Planalto Paulista,São Paulo,1000,4,8,6,R$ 7.000.000,1
1,1,"Rua Aurelia Perez Alvarez, 42",Jardim dos Estados,São Paulo,469-524,3-6,3-6,4,R$ 3.700.000,1
2,2,Rua Alba Valdez,Jardim Reimberg,São Paulo,125,4,3,2,R$ 380.000,1
3,4,"Rua Tobias Barreto, 195",Mooca,São Paulo,100,3,2,2,R$ 540.000,1
4,5,Rua Graham Bell,Santo Amaro,São Paulo,440,4,4,6,R$ 1.980.000,1
...,...,...,...,...,...,...,...,...,...,...
6554,10028,Rua Tapuçu,Vila Sofia,São Paulo,90,2,2,2,R$ 665.000,1
6555,10029,Rua Guararema,Bosque da Saúde,São Paulo,600,8,7,5,R$ 2.300.000,1
6556,10030,Rua Estero Belaco,Vila da Saúde,São Paulo,200,3,3,6,R$ 1.050.000,1
6557,10031,"Rua Manuel Onha, , 514",Vila Oratório,São Paulo,180,3,2,2,R$ 2.200\n /Mês,1
6558,10032,"Rua Barão de Tramandaí, 0",Vila Alpina,São Paulo,117,3,2,2,R$ 270.000,1

In [22]:
df_duplicated[df_duplicated["size"]>1]

Empty DataFrame
Columns: [Unnamed: 0, Rua, Bairro, Cidade, area_m2, quartos, banheiros, vagas, price, size]
Index: []

In [18]:
df.groupby("Bairro").size()

Bairro
 Aclimação             86
 Alto da Boa Vista      7
 Alto da Lapa          57
 Alto da Mooca         15
 Alto de Pinheiros    240
                     ...
Kehir                   1
Noa                     1
acu                     1
de                      1
do                      4
Length: 627, dtype: int64

In [31]:
columns_to_use = [column for column in df.columns if column != "Unnamed: 0"]
df_duplicated = df.groupby(columns_to_use, as_index=False).size()
df_duplicated[df_duplicated["size"]>1]

,Rua,Bairro,Cidade,area_m2,quartos,banheiros,vagas,price,size
2,Alameda Canuri,Planalto Paulista,São Paulo,300,3,2,12,R$ 15.000\n /Mês,2
5,Alameda Franca,Jardim Paulista,São Paulo,150,9,2,1,R$ 2.600.000,2
7,"Alameda Franca, 587",Jardim Paulista,São Paulo,137,9,2,1,R$ 2.600.000,2
8,Alameda Gabriel Monteiro da Silva,Jardim América,São Paulo,477,4,5,5,R$ 25.000\n /Mês,2
9,Alameda Itu,Jardim Paulista,São Paulo,250,3,3,1,R$ 2.995.000,2
...,...,...,...,...,...,...,...,...,...
4744,Travessa Roberto Douglas Machado,Jardim Paulistano,São Paulo,170,2,2,2,R$ 3.300.000,3
4746,Travessa Saveiros de Maroim,Vila Constança,São Paulo,80,2,2,4,R$ 2.000\n /Mês,2
4747,Travessa Umberto Bignardi,Paraíso,São Paulo,190,11,8,2,R$ 2.500.000,2
4750,Viela Um,Jardim Peri,São Paulo,267,3,5,4,R$ 1.910.000,2
4753,"Viela Um, 289",Jardim Peri,São Paulo,320,3,2,4,R$ 1.700.000,2

In [32]:
for bairro in list(df["Bairro"].unique()):
    print(bairro)

 Planalto Paulista
 Jardim dos Estados
 Jardim Reimberg
 SP
 Mooca
 Santo Amaro
 Cidade Mãe do Céu
 Jardim Vergueiro
 Jardim Benfica
 Vila Alpina
 Vila Monumento
 Vila Uberabinha
 Jardim Prudência
 Lauzane Paulista
 São Paulo II
 Jardim Santa Maria
 Vila Nova
 Itaberaba
 Vila Nova Conceição
 Jardim da Saúde
 Vila Poupança
 Jardim Santo Antônio
 Vila Mazzei
 Vila Madalena
 Jardim Ivana
 Vila Campo Grande
 Vila Gomes Cardim
 Bela Aliança
 Vila Albertina
 Cidade Jardim
 Vila Libanesa
 Cidade Domitila
 Vila Nova Savoia
 Jardim Maria Estela
 Parque São Rafael
 Vila Bandeirantes
 Parque Colonial
 Vila Califórnia
 Jardim das Imbuias
 Vila Tramontano
 Vila Nancy
 Parada Inglesa
 Jardim Leonor Mendes de Barros
A
 Jardim Amália
 Vila dos Remédios
 Brooklin Paulista
 Tremembé
 Vila Minerva
 Pirituba
 Vila Cordeiro
 Santa Cruz dos Lázaros
 Parque Boturussu
 Jardim Europa
 Alto da Lapa
 Vila Formosa
 Quinta da Paineira
 Vila Jaguara
 Condomínio Residencial Monaco
 Alto da Boa Vista
 Vila Clarice
 Jardim América
 Jardim Paulista
 Tucuruvi
 Parque Continental
 Penha de França
 Perdizes
 Conjunto Residencial José Bonifácio
 Cidade Vargas
 Jardim Maria Luiza
 Mirandópolis
 Jardim do Carmo
 Jardim Leonor
 Ipatinga
 Alto de Pinheiros
 Vila Suzana
 Residencial de Lorenzi
 Vila Brasílio Machado
 Jardim das Vertentes
 Campo Belo
 Vila Regente Feijó
 Vila Tolstoi
 Terceira Divisão de Interlagos
do
 Vila Mariana
 Jardim Imperador (Zona Leste)
 Vila São Benedito
 Vila Aricanduva
 Boaçava
 Vila Carolina
 Vila Romana
 Vila Gustavo
 Vila Leopoldina
 Vila São Paulo
 Jardim Bandeirantes (Zona Norte)
 Jardim Jaraguá
 Vila Morse
 Itaquera
 Vila Talarico
 Vila Matilde
 Vila Laís
 Jardim Marajoara
 Vila Pompéia
 Chácara Santo Antônio (Zona Sul)
 Caxingui
 Barra Funda
 Vila João Batista
 Jardim Nova Germania
 Vila Antonieta
 Bosque da Saúde
 Chácara Santo Antônio (Zona Leste)
 Jardim da Glória
 Tatuapé
 Jardim Cordeiro
 Parque Casa de Pedra
 Morumbi
 Praia Azul
 São João Clímaco
 Lapa
 Vila Prudente
 Capela do Socorro
 Butantã
Guainumbi
 Jardim Vivan
 Vila Marari
 Jardim Aurélia
 Cursino
 Jardim São Luís
 Vila Ipojuca
 Cerqueira César
 Pari
 Ipiranga
 Vila Olímpia
 Jardim Sílvia (Zona Oeste)
 Vila Dom Pedro I
 Vila Euthalia
 Santana
 Barro Branco (Zona Norte)
de
 Vila Corberi
 São Judas
Batuá
 Vila Carrão
 Morro dos Ingleses
 Chácara Inglesa
 Parque Savoy City
 Aclimação
 Nossa Senhora do Ó
 Jardim Três Marias
 Campininha
 Cidade Monções
 Vila Santa Maria
 Jardim Guedala
 Vila Bela
 Vila Guarani (Z Sul)
 Vila das Belezas
 Jardim Brasil (Zona Norte)
 Pacaembu
 Vila Moraes
 Jardim Alvorada (Zona Oeste)
 Jardim Londrina
 Vila Zelina
 Vila Guilherme
 Jardim Petrópolis
 Jardim Paulistano
 Parque da Vila Prudente
 Parque Alves de Lima
 Chácara Flora
 Jardim Vila Formosa
 Vila Água Funda
 Água Branca
 Jardim D'Abril
 Jardim São Paulo(Zona Norte)
 Vila Rosaria
 Jardim Ana Maria
 Indianópolis
 Granja Julieta
 Parque Maria Helena
 Jardim Vista Linda
 Vila Inah
 Sumaré
 Cambuci
 Vila Congonhas
 Cidade Patriarca
 Vila Pirituba
 Vila Fachini
 Veleiros
 Vila Antônio dos Santos
 Parque das Paineiras
 Vila Dom Pedro II
 Vila Gumercindo
 Vila Bancária Munhoz
 Moema
 Jardim Luzitânia
 Cidade Líder
 Vila Santa Clara
 Vila Carioca
 Jardim Consórcio
 Vila Hebe
 Quarta Parada
 Vila Ida
 Vila São José (Ipiranga)
 Jardim Anália Franco
 Saúde
 Jardim das Bandeiras
 Sumarezinho
 Vila Moreira
 Jardim Vila Carrão
 Casa Verde
 Jardim Bonfiglioli
 Parque Fernanda
 Fazenda Morumbi
 Parque Munhoz
 Vila Antônio
 Jardim Novo Mundo
 Higienópolis
 Vila Bertioga
 Retiro Morumbi
 Paineiras do Morumbi
 Jardim Morumbi
 Pinheiros
 Vila Sônia
 Jardim Everest
 Jardim Panorama D'Oeste
 Jardim Panorama
 Vila Progredior
 Jardim Casablanca
 Chácara Belenzinho
 Jardim Peri Peri
 Vila Butantã
 Interlagos
 Jardim Vila Mariana
 Paraíso
 Jardim Peri
 Parque Císper
 Parque Ipê
 Vila Alexandria
 Consolação
 Brooklin Novo
 Chácara Monte Alegre
 Vila Morumbi
 Real Parque
 Mandaqui
 Jardim São Bento
Brasil
 Super Quadra Morumbi
 Jardim Viana
 Parque Jabaquara
 Jabaquara
 Jardim Nossa Senhora do Carmo
 Belenzinho
 Pompeia
 Vila Santa Catarina
 Água Rasa
 Carandiru
 Vila Mascote
 Vila Pirajussara
 Vila Oratório
 Jardim das Laranjeiras
 Jardim Colombo
 Vila Isolina Mazzei
 Cidade São Francisco
 Parque Mandaqui
 Jardim Tremembé
 Vila Nivi
 Vila Canero
 Vila Buenos Aires
 Itaim Bibi
 Jardim Franca
 Jardim Tietê
 Jardim Brasil (Zona Sul)
 Jardim Vitória Régia
 Praia da Lagoa
 Vila Nova Mazzei
 Cidade São Mateus
 Canindé
 Vila Tiradentes
 Vila Maria Alta
 Jardim Aeroporto
 Vila Anglo Brasileira
 Vila Andrade
 Horto Florestal
 Vila Brasilina
 Vila Amélia
 Parque da Mooca
 Vila Hamburguesa
 Santa Cecília
 Vila Ré
 Brooklin
 Parque da Lapa
 Jardins
 Vila Vera
 Jardim Monte Azul
 Vila Isa
 Vila Anastácio
 São Miguel Paulista
 Jurubatuba
 Vila Nova Alba
 Vila Nova Cachoeirinha
 Vila Constança
 Alto da Mooca
 Jardim Umuarama
 Vila São Geraldo
 Chácara Califórnia
 Vila Esperança
 Instituto de Previdência
 Vila Ester (Zona Norte)
 Jardim das Acácias
 Jardim Patente
 Parque dos Príncipes
 Vila Diva (Zona Leste)
 Jardim Celeste
 Santa Teresinha
 Jardim Vera Cruz
 Jardim Monte Kemel
 Vila Clementino
 Conjunto Habitacional Barreira Grande
 Água Fria
 Parque São Domingos
 Vila do Encontro
 Jardim Dracena
 Vila das Mercês
 Casa Verde Alta
 Jardim dos Cataldis
 Lar São Paulo
 Vila Deodoro
 Jardim Maracanã
 Jardim Maringá
 Conjunto Residencial Jardim Canaã
 Vila da Saúde
 Vila Liviero
 Vila Medeiros
 Jardim Penha
 Jardim Vaz de Lima
 Jardim Textil
 Paraíso do Morumbi
 Jardim Hípico
 Vila Firmiano Pinto
 Jardim Ipanema (Zona Sul)
Kehir
 Vila Fernandes
 Jardim Odete
 Vila Santo Estéfano
 Vila Rica
 Vila Caraguatá
 Sacomã
 Vila Carrao
 Parque Vitória
 Vila Invernada
 Vila Clara
 Jardim Caravelas
 Cupecê
 Vila Nelson
 Parque Santa Cecília
 Jardim Olympia
 Vila Lúcia
 Vila Macedópolis
 Liberdade
 Jardim Maria Duarte
 Parque Sevilha
acu
 Jardim Santa Helena
 Vila Sonia
 Vila Marieta
 Jardim Santo Amaro
 Conjunto Residencial Bandeirantes
 Vila Gomes
 Conjunto Residencial Butantã
 Paraisópolis
 Vila Comercial
 Parque Ramos Freitas
 Bom Retiro
 Vila Rio Branco
 Vila Moinho Velho
 Chácara das Paineiras
 Vila Universitária
 Jardim Campo Grande
 Brás
 Vila Nair
 Jardim Teresa
 Jardim Panorama (Zona Leste)
 Vila Santana
 Vila Guilhermina
 Vila Aurora (Zona Norte)
 Vila Carlos de Campos
 Vila Castelo
 Campo Grande
 Jardim Cidália
 Jardim Oriental
 Jardim Taboao
 Guaianases
 Jardim Catanduva
 Jardim Colorado
 Jardim Esmeralda
 Vila São José
 Jardim Taboão
 Vila Maria Baixa
 Vila Baby
 Jardim Tenani
 Jardim Ampliação
 Vila Santos
 Vila Campestre
 Parque Fongaro
 Chácara Mafalda
 Vila São Francisco (Zona Sul)
 Imirim
 Jardim Ester
 Vila Santa Teresa (Zona Leste)
 Vila Palmeiras
 Sítio da Figueira
 Chácara Jaraguá
 Vila Ivg
 Rio Pequeno
 Campos Elíseos
 Jardim Miriam
 Lapa de Baixo
 Jardim de Lorenzo
 Parque Edu Chaves
 Conjunto Promorar Raposo Tavares
 Jardim Germânia
 Vila Dalila
 Vila Ema
 Vila Antonina
 Socorro
 Vila Celeste
 Jardim Nove de Julho
 Vila Noca
 Jardim Cidade Pirituba
 Vila Santa Virginia
 Vila do Bosque
 Jardim Itapeva
 Vila Nhocune
 Jardim Vergueiro (Sacomã)
 Vila Guedes
 Vila Santa Edwiges
 Rio Bonito
 Jardim Vera Cruz(Zona Leste)
 Vila Almeida
 Chácara Seis de Outubro
 Vila do Castelo
 Jardim Rosa Maria
 Jardim Santa Adélia
 Vila Nova Manchester
 Jardim Avelino
 Vila Indiana
 Jardim Modelo
 Ibirapuera
 Jardim Paraíso
 Balneário Mar Paulista
Noa
 Vila Anhangüera
 Jardim São Paulo
 Jardim Raposo Tavares
Açu
 Jardim Niteroi
 Vila Irmãos Arnoni
 Vila Parque Jabaquara
 Jardim Trussardi
 Vila Paulo Silas
 Vila Represa
Açu
 Vila Mira
 Sítio do Mandaqui
 Sítio Represa
Flores
 Vila Primavera
 Jardim Patente Novo
Brasil
 Jardim Vitoria Regia
 Vila Cruzeiro
 Parque Imperial
 Vila Paulista
 Rolinópolis
 Vila Picinin
 Vila São Silvestre
 Jardim Maria Augusta
 Vila Sofia
 Jardim São Jorge
 Parque do Castelo
 Jaraguá
 Jardim Carlu
 Vila Rui Barbosa
 São Lucas
 Maranhão
 Jardim Mangalot
 Vila Nova Curuçá
 Catumbi
 Vila Cleonice
 São Paulo
 Jardim Japão
 City América
 Piqueri
 Jardim dos Pinheiros
 Jardim Popular
 Siciliano
 Vila Pereira Barreto
 Vila Araguaia
 Jardim Botucatu
 Vila Jurema
 Vila Independência
8888
 Vila São Vicente
 Vila Adalgisa
 Jardim Riviera
 Jardim Aricanduva
 Vila Campanela
 Vila Romano
 Jardim Guairaca
 Jardim Sarah
 Jardim Virginia Bianca
Guaçu
 Parque Maria Fernandes
 Jardim Coimbra
 Vila Inglesa
 Vila Piauí
 Jardim Anhanguera
 Jardim Promissão
 Vila Industrial
 Vila Cunha Bueno
 Chácara Meyer
 Vila São Domingos
 Vila Império
 Vila Domitila
 Chora Menino
 Educandário
 Cidade Dutra
 Vila Polopoli
 Vila Nova Caledônia
 Vila Neila
 Bortolândia
 Vila Paranaguá
 Jardim Cláudia
 Jardim Ubirajara
 Jardim dos Prados
 Jardim Cristal
 Vila Olinda
 Parque Regina
 Jardim Heliomar
 Parque São Lucas
 Jardim Primavera (Zona Sul)
 Vila Roseira II
 Jardim Santa Fé (Zona Sul)
 Vila Monte Alegre
 Jardim da Pedreira
 Jardim Luanda
 Jardim Ibitirama
 Jardim São Carlos (Zona Leste)
 Vila Santa Teresa (Zona Sul)
 Vila Duarte
 Vila Arriete
 Vila Aurea
 Vila Emir
 Jardim Leila
 Recanto dos Sonhos
 Jardim Guapira
 Chácara Japonesa
 Jaguaré
 Parque do Terceiro Lago
 Vila Curuçá
 Vila Dorna
 Engenheiro Goulart
 Vila Santa Terezinha (Zona Norte)
 Jardim Ernestina
 Vila Leonor
 Jardim Colonial
 Jardim Fernandes
 Jardim Itapemirim
 Jardim Felicidade (Zona Oeste)
 Jardim Arize
 Jardim São José
 Vila Joaniza
 Vila Dalva
 Jardim Santa Cruz (Sacomã)
 Cidade Ademar
 Vila Pita
 Jardim Jussara
 Jardim Parque Morumbi
 Jardim Cambara
 Vila Natália
 Parque Residencial Julia
 Vila Ivone
 Vila Babilônia
 Jardim Egle
 Jardim do Colégio (Zona Norte)
 Jardim Guarapiranga
 Jardim Pinheiros
 Vila Jacuí
 Jardim Record
 Bela Vista
 Guaianazes
 Jardim Triana
 Jardim Rio Pequeno
 Ferreira
 Jardim Ipanema (Zona Oeste)
 Jardim Cotiana
 Jardim Avenida
 Jardim São Nicolau
 Jardim Morais Prado
 Vila Santo Estevão
 Vila Rosa
 Vila Vitório Mazzei
 Jardim do Campo
 Vila Nilo
 Vila Gertrudes
 Limoeiro
 Jardim São Jorge (Raposo Tavares)
 Vila Fiat Lux
 Jardim Íris
 Vila Santo Antônio
 Jardim Domitila
 Jardim Boa Vista (Zona Oeste)
 Vila Bonilha Nova
 Jardim Umarizal
 Jardim Catarina
 Jardim Taquaral
 Jardim Jaú (Zona Leste)
 Jardim Lourdes
 Vila Pedra Branca
 Vila Guaca
 Cidade dos Bandeirantes
 Jardim Jabaquara
 Vila União(Zona Norte)
 Parque São Jorge
 Vila Reis
 Parque das Árvores
 Vila São Pedro
 Jardim das Carmelitas

In [33]:
for cidade in list(df["Cidade"].unique()):
    print(cidade)

 São Paulo
nan
 Cotia
 Santana de Parnaíba
 Jacareí
 São José dos Campos
 Sorocaba
 Boituva
 Pindamonhangaba
55
74
10
380